body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
}

table {
    table-layout:fixed;
    overflow: hidden;
}

#framecontent{
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    width: 230px;
    height: 100%;
    overflow: hidden;
    background: navy;
    color: white;
}

#maincontent{
    position: fixed;
    top: 0; 
    left: 230px;
    right: 0;
    bottom: 0;
    overflow: auto; 
    background: #fff;
}

.main{
	margin: 10px;
}

.link{
	
}